.vscode/**
.vscode-test/**
.github/**
docs/**
.release-check/**
.yarn-cache/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
AGENTS.md
esbuild.js
vsc-extension-quickstart.md
.vscode-test.mjs
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
